VLCBenchmark/*.iml
*.iml
VLCBenchmark/.gradle
local.properties
VLCBenchmark/.idea/workspace.xml
VLCBenchmark/.idea/libraries
VLCBenchmark/.DS_Store
build
VLCBenchmark/captures
samples
screenshot.png
snap*.png
/.idea/
/.gradle/
